.cobra-font{
    text-align: left;
    font-style: italic;
    text-shadow: 1px 8px 1px cyan; 
}

.mybg{
    background: url("./images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}