*{
    margin: 0px;
}

body{
    background: #eee;
}

.container{
    width: 960px;
    margin: 30px auto
}

header{
    background: orange;
    padding: 20px;
    text-align: center;
    transition: all 0.6s ease-in;
    cursor: pointer;
}
header:hover{
    background: rgb(195, 128, 5);
}
header h2{
    color:white;
    font-size: 18px;
}

header p{
    color:white;
    font-size: 16px;
    font-style: italic;
    
    font-weight:bold
}


/* Navbar */

nav{
    background: yellow;
}

nav ul{
    list-style-type: none;
    padding:0;
    display:flex;
    justify-content: center;
    gap:12px;
    padding: 5px
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: blue;
    background: green;
    padding: 16px 24px;
}


#content_wrapper{
    display: flex;
}
#content_wrapper .content{
    width: 600px;
    background: aqua;
    padding: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
}

#content_wrapper aside{
    width: 360px;
    background: black;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content_wrapper aside ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5px
}
#content_wrapper aside ul li{
    background: blueviolet;
    padding: 12px;
}
#content_wrapper aside ul li:hover{
    background: brown;
}

footer{
    background: black;
    color: white;
    padding: 18px;
    text-align: center;
}