*{
    margin: 0px;
}
#menu-project{
    list-style-type: none;
    padding-left: 0px;
    width: 960px;
    background: yellowgreen ;
    height: 40px;
    border-bottom: 2px solid orange ;
    margin: 30px auto;
}

#menu-project li {
    /* display: inline; */
    float: left;
    border-right: 2px solid red;

}



#menu-project li:last-child{
    border-right: none;
}

#menu-project li a{
    text-decoration: none;
    color:red ;
    background: yellowgreen ;
    padding: 10px 20px;
    display: block;
    transition: all .5s ease-out;
}

#menu-project li a:hover{
    background: yellow;
}