*{
    margin: 0px;
}
#menu-project{
    list-style-type: none;
    padding-left: 0px;
    width: 960px;
    background: yellowgreen ;
    height: 40px;
    border-bottom: 2px solid orange ;
    margin: 30px auto;
}

#menu-project li {
    /* display: inline; */
    float: left;
    border-bottom: 2px solid yellow ;
    position: relative;
}



#menu-project li:last-child{
    border-right: none;
}

#menu-project li a{
    text-decoration: none;
    color:red ;
    background: yellowgreen ;
    padding: 10px 20px;
    display: block;
    transition: all .5s ease-out;
}

#menu-project li a:hover{
    background: yellow;
}

#menu-project li ul{
    list-style-type: none ;
    padding: 0;
    position: absolute;
    left: 9000000px
}
#menu-project li ul li{
    float: none;

}

#menu-project li:hover ul{
    left: 0;
}


/* .habil{
    position: absolute;
    right: 0;
}


.box{
    width: 500px;
    height: 400px;
    background: blue;
    position: relative
} */